@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
// Satoshi font-face declarations
@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-Light.otf")
		format("opentype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-LightItalic.otf")
		format("opentype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-Regular.otf")
		format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-Italic.otf")
		format("opentype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-Medium.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-MediumItalic.otf")
		format("opentype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-Bold.otf")
		format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-BoldItalic.otf")
		format("opentype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-Black.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src: url("~/assets/font/satoshi/Fonts/OTF/Satoshi-BlackItalic.otf")
		format("opentype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

// Font family variable
:root {
	--font-family: "Satoshi", sans-serif;
}
