* {
	box-sizing: border-box;
	word-break: break-word;
	word-wrap: break-word;
	white-space: normal;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: var(--tw-font-display);
	color: var(--tw-color-tc-primary);
	background-color: var(--tw-color-bc-primary);
}

.bg-header {
	background-image: var(--header);
}

.bg-left-column {
	background-image: var(--left-column);
}

.bg-right-column {
	background-image: var(--right-column);
}

.bg-md-logo {
	background-image: var(--md-logo);
}

.bg-lg-logo {
	background-image: var(--lg-logo);
}

.bg-logo {
	background-image: var(--logo);
}

.flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.elipsis {
	display: -webkit-box !important;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.elipsis-2 {
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
.elipsis-5 {
	display: -webkit-box !important;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.no-scrollbar {
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}
}

.useTagTransition {
	transition: all 0.3s var(--transition-tag);
}
.useTagNormalTransition {
	transition: all 0.5s ease-in-out;
}

.useCubicNestedTransition,
.useCubicNestedTransition * {
	transition: all 0.3s var(--transition-tag);
}
.useOnlyCubicNestedTransition * {
	transition: all 0.3s var(--transition-tag);
}

.useNestedTransition,
.useNestedTransition * {
	transition: all 0.3s ease-in-out !important;
}
.useNestedTransitionLonger,
.useNestedTransitionLonger * {
	transition: all 0.5s ease-in-out !important;
}
