* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	word-break: break-word;
	word-wrap: break-word;
	white-space: normal;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: var(--tw-font-family);
	background-color: var(--tw-color-bc-primary);
}
